.game {
    display: flex;
    flex-flow: column nowrap;
    background: #bbada0;
    padding: 5px;
    // width: 450px;
    border-radius: 5px;
    box-sizing: border-box;
    &__row {
        display: flex;
        justify-content: center;
        flex-flow: row nowrap;
    }
    &__cell {
        margin: 5px;
        width: 100px;
        height: 100px;
        background: #cdc1b4;
        border-radius: 5px;
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        border-radius: 3px;
        background: #eee4da;
        text-align: center;
        font-weight: bold;
        z-index: 10;
        font-size: 55px;
        color: #776e65;
        &_2 {
            background: #eee4da;
            box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0),
                inset 0 0 0 1px rgba(255, 255, 255, 0);
        }
        &_4 {
            background: #ede0c8;
            box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0),
                inset 0 0 0 1px rgba(255, 255, 255, 0);
        }
        &_8 {
            color: #f9f6f2;
            background: #f2b179;
        }
        &_16 {
            color: #f9f6f2;
            background: #f59563;
        }
        &_32 {
            color: #f9f6f2;
            background: #f67c5f;
        }
        &_64 {
            color: #f9f6f2;
            background: #f65e3b;
        }
        &_128 {
            color: #f9f6f2;
            background: #edcf72;
            box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.2381),
                inset 0 0 0 1px rgba(255, 255, 255, 0.14286);
            font-size: 45px;
        }
        &_256 {
            color: #f9f6f2;
            background: #edcc61;
            box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.31746),
                inset 0 0 0 1px rgba(255, 255, 255, 0.19048);
            font-size: 45px;
        }
        &_512 {
            color: #f9f6f2;
            background: #edc850;
            box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.39683),
                inset 0 0 0 1px rgba(255, 255, 255, 0.2381);
            font-size: 45px;
        }
        &_1024 {
            color: #f9f6f2;
            background: #edc53f;
            box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.47619),
                inset 0 0 0 1px rgba(255, 255, 255, 0.28571);
            font-size: 35px;
        }
        &_2048 {
            color: #f9f6f2;
            background: #edc22e;
            box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556),
                inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
            font-size: 35px;
        }
    }
}
